body {
    background-color: #000000;
    font-family: sans-serif;
    display: grid;
    height: 100%;
    height: stretch;
    justify-content: center;
    align-items: center;
}

.nav {
    border: 1.3px solid #585a5e;
    background-color: #080e1d;
    width: 50dvw;
    margin: 10% auto;
    border-radius: 2.2rem;
}

.menu {
    border-radius: 2.2rem 2.2rem 0 0;
    background-color: #080e1d;
    color: gray;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: end;
    padding: 0 3rem;
    gap: 10px;
}

.item {
    position: relative;
    padding: 20px, 20px;
}

@keyframes bounceIn {
    0% {
        scale: 1;
        translate: 0 30px;
    }
    80% {
        scale: 1.4;
        translate: 0 0;
    }
    100% {
        scale: 1.3;
        translate: 0 0;
    }
}

@keyframes bounceOut {
    0% {
        scale: 1;
        translate: 0 0;
    }
    80% {
        scale: 1.4;
        translate: 0 30px;
    }
    100% {
        scale: 1.3;
        translate: 0 30px;
    }
}

.item::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    background-color: white;
    pointer-events: none;
    clip-path: path("M0,30 S-20,30,0,30 S30,15,50,15 S80,30,100,30 Z");
    translate: 0 30px;
    transform-origin: center bottom;
}

.item:has(.link:target)::before {
    translate: 0 0;
}

.item:has(.link.ready)::before {
    animation: bounceOut 0s ease forwards;
}

.item:has(.link.ready:target)::before {
    animation: bounceIn 0.5s ease forwards;
}

.link {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 3.5rem 3rem;
}

.link:focus-visible {
    outline: none;
}

.link:hover,
.link:focus-visible,
.link:target {
    color: #2b75ed;
}

.content {
    background-color: white;
    border-radius: 2.2rem;
    height: 400px;
}
